.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  /* background: #e85d3a; */
  height: 72px;
  overflow: hidden;
  padding: 15px;
}
.wrapper.off {
  overflow: visible;
}
.inner {
  display: flex;
  flex-wrap: wrap;
  background: #3ab3e8;
  width: 100%;
  max-width: 999px;
}
.tag {
  background: yellow;
  border-radius: 6px;
  padding: 5px;
  color: black;
  margin: 5px;
}

.turncate {
  background: gray;
  border-radius: 6px;
  padding: 5px;
  color: black;
  margin: 5px;
}

.hide {
  display: none;
}
